In [ ]:
# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [55]:
import numpy as np
import pandas as pd
pd.read_csv('iris.csv')

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
123,6.3,2.7,4.9,1.8,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
125,7.2,3.2,6.0,1.8,Iris-virginica
126,6.2,2.8,4.8,1.8,Iris-virginica
127,6.1,3.0,4.9,1.8,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
129,7.2,3.0,5.8,1.6,Iris-virginica
130,7.4,2.8,6.1,1.9,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
133,6.3,2.8,5.1,1.5,Iris-virginica
134,6.1,2.6,5.6,1.4,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
137,6.4,3.1,5.5,1.8,Iris-virginica
138,6.0,3.0,4.8,1.8,Iris-virginica
139,6.9,3.1,5.4,2.1,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Find out the datatypes of each and every column

In [161]:
iris=pd.read_csv('iris.csv')
iris.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

In [23]:
# Print top 10 & bottom 10 samples from the dataframe
iris.tail(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [20]:
iris.head(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

### Find the shape of the dataset

In [25]:
iris.shape

(150, 5)

In [307]:
### Set the index of the dataframe to be the first column
iris.set_index('Sepal Length (in cm)',inplace=True)

SyntaxError: EOL while scanning string literal (<ipython-input-307-1f1be80ed34d>, line 2)

In [162]:
iris.columns

Index(['Sepal Length (in cm)', 'Sepal Width in (cm)', 'Petal length (in cm)',
       'Petal width (in cm)', 'Class'],
      dtype='object')

In [163]:
iris.index

RangeIndex(start=0, stop=150, step=1)

### Use iloc function to print all the rows of the 3rd column

In [164]:
iris.iloc[0:150,2:3]

     Petal length (in cm)
0                     1.4
1                     1.4
2                     1.3
3                     1.5
4                     1.4
5                     1.7
6                     1.4
7                     1.5
8                     1.4
9                     1.5
10                    1.5
11                    1.6
12                    1.4
13                    1.1
14                    1.2
15                    1.5
16                    1.3
17                    1.4
18                    1.7
19                    1.5
20                    1.7
21                    1.5
22                    1.0
23                    1.7
24                    1.9
25                    1.6
26                    1.6
27                    1.5
28                    1.4
29                    1.6
..                    ...
120                   5.7
121                   4.9
122                   6.7
123                   4.9
124                   5.7
125                   6.0
126                   4.8
127                   4.9
128                   5.6
129                   5.8
130                   6.1
131                   6.4
132                   5.6
133                   5.1
134                   5.6
135                   6.1
136                   5.6
137                   5.5
138                   4.8
139                   5.4
140                   5.6
141                   5.1
142                   5.1
143                   5.9
144                   5.7
145                   5.2
146                   5.0
147                   5.2
148                   5.4
149                   5.1

[150 rows x 1 columns]

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [165]:
iris.iloc[0:10,0:2]

   Sepal Length (in cm)  Sepal Width in (cm)
0                   5.1                  3.5
1                   4.9                  3.0
2                   4.7                  3.2
3                   4.6                  3.1
4                   5.0                  3.6
5                   5.4                  3.9
6                   4.6                  3.4
7                   5.0                  3.4
8                   4.4                  2.9
9                   4.9                  3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [ ]:
iris['SepalExtra']=pd.DataFrame([iris['Sepal length in cm'] * iris['Sepal Width in cm']])

In [323]:
iris['SepalExtra']

KeyError: 'SepalExtra'

### Find out the mean and variance for each column but for class column

In [189]:
iris.mean()

Sepal Length (in cm)    5.843333
Sepal Width in (cm)     3.054000
Petal length (in cm)    3.758667
Petal width (in cm)     1.198667
dtype: float64

In [191]:
iris.var()

Sepal Length (in cm)    0.685694
Sepal Width in (cm)     0.188004
Petal length (in cm)    3.113179
Petal width (in cm)     0.582414
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [334]:
iris=pd.Series(np.random.randn(5), index=list(range(0,10,2))
iris

SyntaxError: invalid syntax (<ipython-input-334-dfd29a6328f8>, line 2)

### Sort the entire dataset according to the column Petal width

In [328]:
iris.sort_values(by =['Petal width'],ascending=True).head(5)

KeyError: 'Petal width'

### Remove the new column "SepalExtra" from the dataframe

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [276]:
pd.read_csv('HR_external.csv',delimiter=',')

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2
5,Ind6,No,32,2,1005,2,2,2,1,1,...,3,80,0,8,2,2,7,7,3,6
6,Ind7,No,59,1,1324,2,3,3,2,1,...,1,80,3,12,3,2,1,0,0,0
7,Ind8,No,30,1,1358,2,24,1,1,1,...,2,80,1,1,2,3,1,0,0,0
8,Ind9,No,38,2,216,2,23,3,1,1,...,2,80,0,10,2,3,9,7,1,8
9,Ind10,No,36,1,1299,2,27,3,2,1,...,2,80,2,17,3,2,7,7,7,7
10,Ind11,No,35,1,809,2,16,3,2,1,...,3,80,1,6,5,3,5,4,0,3
11,Ind12,No,29,1,153,2,15,2,1,1,...,4,80,0,10,3,3,9,5,0,8
12,Ind13,No,31,1,670,2,26,1,1,1,...,4,80,1,5,1,2,5,2,4,3
13,Ind14,No,34,1,1346,2,19,2,2,1,...,3,80,1,3,2,3,2,2,1,2
14,Ind15,Yes,28,1,103,2,24,3,1,1,...,2,80,0,6,4,3,4,2,0,3
15,Ind16,No,29,1,1389,2,21,4,1,1,...,3,80,1,10,1,3,10,9,8,8
16,Ind17,No,32,1,334,2,5,2,1,1,...,4,80,2,7,5,2,6,2,0,5
17,Ind18,No,22,3,1123,2,16,2,2,1,...,2,80,2,1,2,2,1,0,0,0
18,Ind19,No,53,1,1219,1,2,4,1,1,...,3,80,0,31,3,3,25,8,3,7
19,Ind20,No,38,1,371,2,2,3,1,1,...,3,80,0,6,3,3,3,2,1,2
20,Ind21,No,24,3,673,2,11,2,6,1,...,4,80,1,5,5,2,4,2,1,3
21,Ind22,Yes,36,1,1218,1,9,4,1,1,...,2,80,0,10,4,3,5,3,0,3
22,Ind23,No,34,1,419,2,7,4,1,1,...,3,80,0,13,4,3,12,6,2,11
23,Ind24,No,21,1,391,2,15,2,1,1,...,4,80,0,0,6,3,0,0,0,0
24,Ind25,Yes,34,1,699,2,6,1,2,1,...,3,80,0,8,2,3,4,2,1,3
25,Ind26,No,53,1,1282,2,5,3,6,1,...,4,80,1,26,3,2,14,13,4,8
26,Ind27,Yes,32,2,1125,2,16,1,1,1,...,2,80,0,10,5,3,10,2,6,7
27,Ind28,No,42,1,691,1,8,4,3,1,...,4,80,1,10,2,3,9,7,4,2
28,Ind29,No,44,1,477,2,7,4,2,1,...,4,80,1,24,4,3,22,6,5,17
29,Ind30,No,46,1,705,1,2,4,3,1,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,Ind1441,No,36,2,688,2,4,2,1,1,...,2,80,3,18,3,3,4,2,0,2
1441,Ind1442,No,56,3,667,2,1,4,1,1,...,1,80,1,13,2,2,13,12,1,9
1442,Ind1443,Yes,29,1,1092,2,1,4,2,1,...,2,80,3,4,3,4,2,2,2,2
1443,Ind1444,No,42,1,300,2,2,3,1,1,...,1,80,0,24,2,2,22,6,4,14
1444,Ind1445,Yes,56,1,310,2,7,2,4,1,...,4,80,1,14,4,1,10,9,9,8
1445,Ind1446,No,41,1,582,2,28,4,1,1,...,3,80,1,21,3,3,20,7,0,10
1446,Ind1447,No,34,1,704,1,28,3,3,1,...,4,80,2,8,2,3,8,7,1,7
1447,Ind1448,No,36,3,301,1,15,4,3,1,...,1,80,1,15,4,2,15,12,11,11
1448,Ind1449,No,41,1,930,1,3,3,1,1,...,3,80,1,14,5,3,5,4,0,4
1449,Ind1450,No,32,1,529,2,2,3,4,1,...,4,80,0,4,4,3,4,2,1,2
1450,Ind1451,No,35,1,1146,3,26,4,1,1,...,3,80,0,9,2,3,9,0,1,7
1451,Ind1452,No,38,1,345,1,10,2,1,1,...,3,80,1,10,1,3,10,7,1,9
1452,Ind1453,Yes,50,2,878,1,1,4,1,1,...,4,80,2,12,3,3,6,3,0,1
1453,Ind1454,No,36,1,1120,1,11,4,3,1,...,1,80,1,8,2,2,6,3,0,0
1454,Ind1455,No,45,1,374,1,20,3,1,1,...,3,80,0,8,3,3,5,3,0,1
1455,Ind1456,No,40,1,1322,2,2,4,1,1,...,4,80,0,8,2,3,2,2,2,2
1456,Ind1457,No,35,2,1199,2,18,4,1,1,...,4,80,2,10,2,4,10,2,0,2
1457,Ind1458,No,40,1,1194,2,2,4,2,1,...,2,80,3,20,2,3,5,3,0,2
1458,Ind1459,No,35,1,287,2,1,4,1,1,...,4,80,1,4,5,3,4,3,1,1
1459,Ind1460,No,29,1,1378,2,13,2,6,1,...,1,80,1,10,2,3,4,3,0,3
1460,Ind1461,No,29,1,468,2,28,4,2,1,...,2,80,0,5,3,1,5,4,0,4
1461,Ind1462,Yes,50,1,410,1,28,3,3,1,...,2,80,1,20,3,3,3,2,2,0
1462,Ind1463,No,39,1,722,1,24,1,3,1,...,1,80,1,21,2,2,20,9,9,6
1463,Ind1464,No,31,3,325,2,5,3,2,1,...,2,80,0,10,2,3,9,4,1,7
1464,Ind1465,No,26,1,1167,1,5,3,6,1,...,4,80,0,5,2,3,4,2,0,0
1465,Ind1466,No,36,2,884,2,23,2,2,1,...,3,80,1,17,3,3,5,2,0,3
1466,Ind1467,No,39,1,613,2,6,1,2,1,...,1,80,1,9,5,3,7,7,1,7
1467,Ind1468,No,27,1,155,2,4,3,1,1,...,2,80,1,6,0,3,6,2,0,3
1468,Ind1469,No,49,2,1023,1,2,3,2,1,...,4,80,0,17,3,2,9,6,0,8
1469,Ind1470,No,34,1,628,2,8,3,2,1,...,1,80,0,6,3,4,4,3,1,2

### Print the no of rows and columns in the dataset

In [282]:
Hr=pd.read_csv('HR_external.csv',delimiter=',')
Hr.shape

(1470, 35)

In [283]:
Hr.columns

Index(['Individual ', 'Attrition', 'Age', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

### Find out the type of each and every column in the dataset

In [287]:
Hr.index

RangeIndex(start=0, stop=1470, step=1)

In [294]:
Hr.dtypes

Individual                  object
Attrition                   object
Age                          int64
BusinessTravel               int64
DailyRate                    int64
Department                   int64
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                      int64
JobSatisfaction              int64
MaritalStatus                int64
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                     int64
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Print out all the rows from 3rd column to 10th columns

In [292]:
Hr.iloc[0:1470,2:11]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber
0,41,1,1102,1,1,2,1,1,1
1,49,2,279,2,8,1,1,1,2
2,37,1,1373,2,2,2,6,1,4
3,33,2,1392,2,3,4,1,1,5
4,27,1,591,2,2,1,2,1,7
5,32,2,1005,2,2,2,1,1,8
6,59,1,1324,2,3,3,2,1,10
7,30,1,1358,2,24,1,1,1,11
8,38,2,216,2,23,3,1,1,12
9,36,1,1299,2,27,3,2,1,13
10,35,1,809,2,16,3,2,1,14
11,29,1,153,2,15,2,1,1,15
12,31,1,670,2,26,1,1,1,16
13,34,1,1346,2,19,2,2,1,18
14,28,1,103,2,24,3,1,1,19
15,29,1,1389,2,21,4,1,1,20
16,32,1,334,2,5,2,1,1,21
17,22,3,1123,2,16,2,2,1,22
18,53,1,1219,1,2,4,1,1,23
19,38,1,371,2,2,3,1,1,24
20,24,3,673,2,11,2,6,1,26
21,36,1,1218,1,9,4,1,1,27
22,34,1,419,2,7,4,1,1,28
23,21,1,391,2,15,2,1,1,30
24,34,1,699,2,6,1,2,1,31
25,53,1,1282,2,5,3,6,1,32
26,32,2,1125,2,16,1,1,1,33
27,42,1,691,1,8,4,3,1,35
28,44,1,477,2,7,4,2,1,36
29,46,1,705,1,2,4,3,1,38
...,...,...,...,...,...,...,...,...,...
1440,36,2,688,2,4,2,1,1,2025
1441,56,3,667,2,1,4,1,1,2026
1442,29,1,1092,2,1,4,2,1,2027
1443,42,1,300,2,2,3,1,1,2031
1444,56,1,310,2,7,2,4,1,2032
1445,41,1,582,2,28,4,1,1,2034
1446,34,1,704,1,28,3,3,1,2035
1447,36,3,301,1,15,4,3,1,2036
1448,41,1,930,1,3,3,1,1,2037
1449,32,1,529,2,2,3,4,1,2038
1450,35,1,1146,3,26,4,1,1,2040
1451,38,1,345,1,10,2,1,1,2041
1452,50,2,878,1,1,4,1,1,2044
1453,36,1,1120,1,11,4,3,1,2045
1454,45,1,374,1,20,3,1,1,2046
1455,40,1,1322,2,2,4,1,1,2048
1456,35,2,1199,2,18,4,1,1,2049
1457,40,1,1194,2,2,4,2,1,2051
1458,35,1,287,2,1,4,1,1,2052
1459,29,1,1378,2,13,2,6,1,2053
1460,29,1,468,2,28,4,2,1,2054
1461,50,1,410,1,28,3,3,1,2055
1462,39,1,722,1,24,1,3,1,2056
1463,31,3,325,2,5,3,2,1,2057
1464,26,1,1167,1,5,3,6,1,2060
1465,36,2,884,2,23,2,2,1,2061
1466,39,1,613,2,6,1,2,1,2062
1467,27,1,155,2,4,3,1,1,2064
1468,49,2,1023,1,2,3,2,1,2065
1469,34,1,628,2,8,3,2,1,2068

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [319]:
Hr.iloc[0:1470,12:13]

      Gender
0          2
1          1
2          1
3          2
4          1
5          1
6          2
7          1
8          1
9          1
10         1
11         2
12         1
13         1
14         1
15         2
16         1
17         1
18         2
19         1
20         2
21         1
22         2
23         1
24         1
25         2
26         2
27         1
28         2
29         2
...      ...
1440       2
1441       1
1442       1
1443       1
1444       1
1445       2
1446       2
1447       1
1448       1
1449       1
1450       2
1451       2
1452       1
1453       2
1454       2
1455       1
1456       1
1457       2
1458       2
1459       1
1460       2
1461       1
1462       2
1463       1
1464       2
1465       1
1466       1
1467       1
1468       1
1469       1

[1470 rows x 1 columns]

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

In [313]:
Hr['DailyRate'].mean()

802.4857142857143

In [314]:
Hr['DailyRate'].median()

802.0

In [315]:
Hr['DailyRate'].var()

162819.59373723628

In [316]:
Hr['DailyRate'].describe()

count    1470.000000
mean      802.485714
std       403.509100
min       102.000000
25%       465.000000
50%       802.000000
75%      1157.000000
max      1499.000000
Name: DailyRate, dtype: float64

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns
sns.set(color_codes=True)

In [298]:
import seaborn as sns
sns.distplot(Hr['Attrition'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Plot Total working years using matplotlib plot function

In [303]:
sns.barplot(Hr[x='Total Working Years',y='EmployeeNumber'])

SyntaxError: invalid syntax (<ipython-input-303-56f43110a6d6>, line 1)