#1.0 Load the dataset

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
import re, string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

#1.0 Loading the Data

In [0]:
project_path = "/content/drive/My Drive/"

In [6]:
from zipfile import ZipFile
with ZipFile(project_path+'blog-authorship-corpus.zip', 'r') as z:
  z.extractall()

FileNotFoundError: ignored

In [0]:
data = pd.read_csv("blogtext.csv")

# 2.0 Preprocess rows of the “text” column. 
a. Remove unwanted characters 

b. Convert text to lowercase 

c. Remove unwanted spaces 

d. Remove stopwords 3

In [0]:
data.shape

(681284, 7)

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681284 entries, 0 to 681283
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      681284 non-null  int64
 1   gender  681284 non-null  object
 2   age     681284 non-null  int64
 3   topic   681284 non-null  object
 4   sign    681284 non-null  object
 5   date    681284 non-null  object
 6   text    681284 non-null  object
dtypes: int64(2), object(5)
memory usage: 36.4+ MB

In [0]:
data.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [0]:
data.isna().sum()# Checking for na data

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [0]:
data['gender'].value_counts()

male      345193
female    336091
Name: gender, dtype: int64

In [0]:
data['sign'].value_counts()

Cancer         65048
Aries          64979
Taurus         62561
Libra          62363
Virgo          60399
Scorpio        57161
Pisces         54053
Leo            53811
Gemini         51985
Sagittarius    50036
Aquarius       49687
Capricorn      49201
Name: sign, dtype: int64

In [0]:
data['age'].value_counts()

17    80859
24    80071
23    72889
16    72708
25    67051
26    55312
27    46124
15    41767
14    27400
34    21347
33    17584
35    17462
36    14229
13    13133
37     9317
38     7545
39     5556
40     5016
45     4482
43     4230
41     3738
48     3572
42     2908
46     2733
47     2207
44     2044
Name: age, dtype: int64

1. Removing Unwanted Characters
2. Converting all the text to lower case
3. Removing unwanters spaces
4. Removing all the ENGLISH stop words

In [0]:
stop_words = set(stopwords.words('english')) #Remove all the English Stop words

In [0]:
import re, string
# Function to Remove unwanteed Charactersand spaces Before Vectorization
def rem_uchar(string): 
   try:    
    string = re.sub(r'^https?:\/\/<>.*[\r\n]*', '', string, flags=re.MULTILINE)
    string = re.sub(r"[^A-Za-z]", " ", string)         
    words = string.strip().lower().split()    
    #words = [w for w in words if len(w)>=1]
    words = [w for w in words if not w in stop_words]
    return " ".join(words)	
   except:
    return ""

In [0]:
#Function to convert all text to lower case before vectorization
def case_lower(string):
  try:
    string = re.sub(r"[^A-Za-z]", "", string)         
    words = string.strip().lower().split()    
    #words = [w for w in words if len(w)>=1]
    words = [w for w in words if not w in stop_words]
    return " ".join(words)	
  except:
    return ""

In [0]:
sample_data = data[0:15000]
print(data[0:20])

         id  ...                                               text
0   2059027  ...             Info has been found (+/- 100 pages,...
1   2059027  ...             These are the team members:   Drewe...
2   2059027  ...             In het kader van kernfusie op aarde...
3   2059027  ...                   testing!!!  testing!!!
4   3581210  ...               Thanks to Yahoo!'s Toolbar I can ...
5   3581210  ...               I had an interesting conversation...
6   3581210  ...               Somehow Coca-Cola has a way of su...
7   3581210  ...               If anything, Korea is a country o...
8   3581210  ...               Take a read of this news article ...
9   3581210  ...               I surf the English news sites a l...
10  3581210  ...               Ah, the Korean language...it look...
11  3581210  ...               If you click on my profile you'll...
12  3581210  ...               Last night was pretty fun...mostl...
13  3581210  ...               There is so much that is differen...
14  3581210  ...                urlLink    Here it is, the super...
15  3581210  ...               One thing I love about Seoul (and...
16  3581210  ...                urlLink    Wonderful oh-gyup-sal...
17  3581210  ...               Here is the latest from the Korea...
18  3581210  ...               Well, I stand corrected, again.  ...
19  3581210  ...               So I've been in Vancouver a few d...

[20 rows x 7 columns]

In [0]:
print(sample_data["text"])

0                   Info has been found (+/- 100 pages,...
1                   These are the team members:   Drewe...
2                   In het kader van kernfusie op aarde...
3                         testing!!!  testing!!!
4                     Thanks to Yahoo!'s Toolbar I can ...
                               ...
14995                 well, trying to get Blogger's new...
14996                 jeebus! gas prices jumped a dime ...
14997                 *yawn* it's been more than 48 hou...
14998                 talked to mr. translator the othe...
14999                 so it scored a wound or two... it...
Name: text, Length: 15000, dtype: object

In [0]:
print(sample_data['text'].apply(rem_uchar))

0        info found pages mb pdf files wait untill team...
1        team members drewes van der laag urllink mail ...
2        het kader van kernfusie op aarde maak je eigen...
3                                          testing testing
4        thanks yahoo toolbar capture urls popups means...
                               ...
14995    well trying get blogger new features work chan...
14996    jeebus gas prices jumped dime last week plain ...
14997                            yawn hours since even irc
14998    talked mr translator day interested masterforc...
14999          scored wound two lost battle lawn conquered
Name: text, Length: 15000, dtype: object

In [0]:
sample_data['text'] = sample_data['text'].apply(rem_uchar)

In [0]:
sample_data["topic"]

0                  Student
1                  Student
2                  Student
3                  Student
4        InvestmentBanking
               ...
14995             Internet
14996             Internet
14997             Internet
14998             Internet
14999             Internet
Name: topic, Length: 15000, dtype: object

In [0]:
sample_data.topic=sample_data['topic'].apply(case_lower)

In [0]:
sample_data['sign'] = sample_data['sign'].apply(case_lower)

In [0]:
sample_data.head(10)

        id  ...                                               text
0  2059027  ...  info found pages mb pdf files wait untill team...
1  2059027  ...  team members drewes van der laag urllink mail ...
2  2059027  ...  het kader van kernfusie op aarde maak je eigen...
3  2059027  ...                                    testing testing
4  3581210  ...  thanks yahoo toolbar capture urls popups means...
5  3581210  ...  interesting conversation dad morning talking k...
6  3581210  ...  somehow coca cola way summing things well earl...
7  3581210  ...  anything korea country extremes everything see...
8  3581210  ...  take read news article urllink joongang ilbo n...
9  3581210  ...  surf english news sites lot looking tidbits ko...

[10 rows x 7 columns]

# 3.0 Merging "Gender, Age, Topic and Sign"

In [0]:
cols = ['gender','age','topic','sign']
sample_data['labels'] = sample_data[cols].apply(lambda row: ','.join(row.values.astype(str)), axis=1)

In [0]:
sample_data.head()

        id  ...                              labels
0  2059027  ...                 male,15,student,leo
1  2059027  ...                 male,15,student,leo
2  2059027  ...                 male,15,student,leo
3  2059027  ...                 male,15,student,leo
4  3581210  ...  male,33,investmentbanking,aquarius

[5 rows x 8 columns]

In [0]:
# Data with just two collumns text and Labels
sample_new = sample_data[['text','labels']]
sample_new.head()

                                                text                              labels
0  info found pages mb pdf files wait untill team...                 male,15,student,leo
1  team members drewes van der laag urllink mail ...                 male,15,student,leo
2  het kader van kernfusie op aarde maak je eigen...                 male,15,student,leo
3                                    testing testing                 male,15,student,leo
4  thanks yahoo toolbar capture urls popups means...  male,33,investmentbanking,aquarius

# 4. Separate features and labels, and split the data into training and testing .

In [0]:
X_train, X_test, y_train, y_test = train_test_split(sample_new.text, sample_new.labels, random_state=42, test_size=0.2)

#5. Vectorize the features.

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
cVect = CountVectorizer(ngram_range=(1,2))

In [0]:
cVect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [0]:
len(cVect.vocabulary_)

802805

#Print the Document Term Matrix

In [0]:
X_train_ct = cVect.transform(X_train)

In [0]:
X_train_ct.shape

In [0]:
X_train_ct[0]

In [0]:
print(X_train_ct[0])

  (0, 73474)	1
  (0, 73619)	1
  (0, 268127)	1
  (0, 268166)	1
  (0, 712456)	1

In [0]:
X_test_ct = cVect.transform(X_test)

In [0]:
X_test_ct.shape

In [0]:
X_test_ct[0]

In [0]:
print(X_test_ct[0])

  (0, 3573)	1
  (0, 10326)	1
  (0, 17860)	1
  (0, 31304)	1
  (0, 58084)	1
  (0, 62398)	1
  (0, 66222)	1
  (0, 66374)	1
  (0, 68591)	1
  (0, 69102)	1
  (0, 84162)	1
  (0, 95615)	1
  (0, 96195)	1
  (0, 118551)	3
  (0, 118990)	1
  (0, 119413)	1
  (0, 140480)	1
  (0, 143287)	1
  (0, 143366)	1
  (0, 150113)	1
  (0, 160439)	1
  (0, 160558)	1
  (0, 161772)	1
  (0, 190601)	1
  (0, 190698)	1
  :	:
  (0, 668674)	1
  (0, 675209)	1
  (0, 678091)	1
  (0, 688052)	3
  (0, 688107)	1
  (0, 688161)	1
  (0, 699130)	2
  (0, 699866)	1
  (0, 705423)	1
  (0, 708088)	1
  (0, 712456)	2
  (0, 713274)	1
  (0, 713675)	1
  (0, 715803)	1
  (0, 715832)	1
  (0, 730384)	1
  (0, 754425)	1
  (0, 754466)	1
  (0, 757349)	1
  (0, 757465)	1
  (0, 770331)	1
  (0, 770369)	1
  (0, 771261)	1
  (0, 773979)	1
  (0, 776995)	1

#6.0 Create a dictionary to get the count of every label

In [0]:
labelVector = CountVectorizer()

In [0]:
label_ct = labelVector.fit_transform(sample_new['labels'])

In [0]:
print("Number of Unique Labels : ", len(labelVector.vocabulary_))

Number of Unique Labels :  71

In [0]:
labelVector.get_feature_names()

['13',
 '14',
 '15',
 '16',
 '17',
 '23',
 '24',
 '25',
 '26',
 '27',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 'accounting',
 'advertising',
 'agriculture',
 'aquarius',
 'architecture',
 'aries',
 'arts',
 'automotive',
 'banking',
 'businessservices',
 'cancer',
 'capricorn',
 'communicationsmedia',
 'consulting',
 'education',
 'engineering',
 'fashion',
 'female',
 'gemini',
 'government',
 'humanresources',
 'indunk',
 'internet',
 'investmentbanking',
 'law',
 'lawenforcementsecurity',
 'leo',
 'libra',
 'male',
 'marketing',
 'military',
 'museumslibraries',
 'nonprofit',
 'pisces',
 'publishing',
 'religion',
 'sagittarius',
 'science',
 'scorpio',
 'sportsrecreation',
 'student',
 'taurus',
 'technology',
 'telecommunications',
 'transportation',
 'virgo']

**Dictionary of All Labels (Only from Samples)**

In [0]:
labels_dict = labelVector.vocabulary_

In [0]:
labels_dict

{'13': 0,
 '14': 1,
 '15': 2,
 '16': 3,
 '17': 4,
 '23': 5,
 '24': 6,
 '25': 7,
 '26': 8,
 '27': 9,
 '33': 10,
 '34': 11,
 '35': 12,
 '36': 13,
 '37': 14,
 '38': 15,
 '39': 16,
 '40': 17,
 '41': 18,
 '42': 19,
 '43': 20,
 '44': 21,
 '45': 22,
 '46': 23,
 '47': 24,
 'accounting': 25,
 'advertising': 26,
 'agriculture': 27,
 'aquarius': 28,
 'architecture': 29,
 'aries': 30,
 'arts': 31,
 'automotive': 32,
 'banking': 33,
 'businessservices': 34,
 'cancer': 35,
 'capricorn': 36,
 'communicationsmedia': 37,
 'consulting': 38,
 'education': 39,
 'engineering': 40,
 'fashion': 41,
 'female': 42,
 'gemini': 43,
 'government': 44,
 'humanresources': 45,
 'indunk': 46,
 'internet': 47,
 'investmentbanking': 48,
 'law': 49,
 'lawenforcementsecurity': 50,
 'leo': 51,
 'libra': 52,
 'male': 53,
 'marketing': 54,
 'military': 55,
 'museumslibraries': 56,
 'nonprofit': 57,
 'pisces': 58,
 'publishing': 59,
 'religion': 60,
 'sagittarius': 61,
 'science': 62,
 'scorpio': 63,
 'sportsrecreation': 64,
 'student': 65,
 'taurus': 66,
 'technology': 67,
 'telecommunications': 68,
 'transportation': 69,
 'virgo': 70}

#7.0 Transform the labels.

In [0]:
y_train = [set(i.split(',')) for i in y_train]
y_test = [set(i.split(',')) for i in y_test]

In [0]:
y_labels = [set(i.split(',')) for i in sample_new.labels]

In [0]:
len(y_labels[0])

4

In [0]:
print(y_train[0])
print(y_test[0])

{'leo', 'museumslibraries', '23', 'female'}
{'36', 'capricorn', 'internet', 'female'}

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer

In [0]:
mlb = MultiLabelBinarizer(classes=labelVector.get_feature_names())

In [0]:
y_train = mlb.fit_transform(y_train)
y_test = mlb.fit_transform(y_test)

In [0]:
print("Train : ", len(y_train[0]))
print("Test : ", len(y_test[0]))

Train :  71
Test :  71

In [0]:
len(mlb.classes_)

In [0]:
y_labels_mlb = mlb.transform(y_labels)

In [0]:
len(y_labels_mlb[0])

71

# 8.0  Choose a classifier.

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [0]:
lr_clf = LogisticRegression(solver='lbfgs', multi_class='ovr', max_iter=1000)
ovr_clf = OneVsRestClassifier(lr_clf)

# 9.0 Fit the classifier, make predictions and get the accuracy.

In [0]:
ovr_clf.fit(X_train_ct, y_train)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=1000,
                                                 multi_class='ovr', n_jobs=None,
                                                 penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [0]:
y_pred = ovr_clf.predict(X_test_ct)

In [0]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score
from functools import partial

In [0]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.26      0.42        19
           1       0.70      0.12      0.20        59
           2       0.78      0.26      0.39       156
           3       0.71      0.32      0.44       130
           4       0.69      0.28      0.39       339
           5       0.75      0.21      0.33       324
           6       0.87      0.38      0.53       276
           7       0.79      0.16      0.26       215
           8       0.57      0.05      0.09        78
           9       0.78      0.34      0.47       289
          10       0.89      0.09      0.17        85
          11       0.91      0.59      0.72       155
          12       0.81      0.49      0.61       494
          13       0.93      0.51      0.66       319
          14       0.00      0.00      0.00         3
          15       1.00      0.33      0.50         6
          16       1.00      0.10      0.17        21
          17       0.00      0.00      0.00         0
          18       0.00      0.00      0.00        12
          19       0.00      0.00      0.00         4
          20       0.00      0.00      0.00         0
          21       0.00      0.00      0.00         0
          22       0.00      0.00      0.00        10
          23       0.00      0.00      0.00         5
          24       0.00      0.00      0.00         1
          25       0.00      0.00      0.00         5
          26       0.00      0.00      0.00         2
          27       0.00      0.00      0.00         5
          28       0.82      0.22      0.34       184
          29       1.00      0.14      0.25         7
          30       0.78      0.65      0.71       946
          31       0.82      0.16      0.26        57
          32       0.00      0.00      0.00         4
          33       0.00      0.00      0.00        19
          34       1.00      0.17      0.29        30
          35       0.80      0.25      0.38       217
          36       0.76      0.20      0.32       123
          37       0.00      0.00      0.00        30
          38       0.00      0.00      0.00        14
          39       0.87      0.30      0.44       114
          40       0.29      0.03      0.05        76
          41       0.94      0.54      0.68       296
          42       0.81      0.66      0.73      1277
          43       0.88      0.08      0.14        89
          44       0.00      0.00      0.00        18
          45       0.00      0.00      0.00         1
          46       0.74      0.52      0.61      1110
          47       0.55      0.10      0.16       124
          48       1.00      0.31      0.48        16
          49       0.50      0.33      0.40         3
          50       0.00      0.00      0.00         7
          51       0.41      0.07      0.12       178
          52       0.71      0.14      0.23       146
          53       0.78      0.88      0.83      1723
          54       0.79      0.27      0.40        41
          55       0.00      0.00      0.00         2
          56       0.40      0.15      0.22        13
          57       0.80      0.12      0.21        33
          58       0.86      0.36      0.51       238
          59       0.00      0.00      0.00         6
          60       0.00      0.00      0.00         8
          61       0.88      0.40      0.55       289
          62       0.00      0.00      0.00        17
          63       0.66      0.17      0.27       249
          64       1.00      0.44      0.61        16
          65       0.77      0.29      0.42       329
          66       0.67      0.24      0.35       202
          67       0.78      0.46      0.58       586
          68       0.00      0.00      0.00         2
          69       0.00      0.00      0.00         9
          70       0.89      0.12      0.22       139

   micro avg       0.79      0.47      0.59     12000
   macro avg       0.51      0.19      0.26     12000
weighted avg       0.77      0.47      0.55     12000
 samples avg       0.75      0.47      0.54     12000

In [0]:
print(accuracy_score(y_test, y_pred))

0.231

In [0]:
y_pred_inv = mlb.inverse_transform(y_pred)
y_test_inv = mlb.inverse_transform(y_test)

# 10.0 Print true label and predicted label for any five examples.

In [0]:
for i in range(1,6):
  print("Actual:",y_test_inv[i],"Predicted",y_pred_inv[i])

Actual: ('36', 'aries', 'fashion', 'male') Predicted ('36', 'aries', 'male')
Actual: ('24', 'leo', 'male', 'telecommunications') Predicted ('aquarius', 'male')
Actual: ('17', 'capricorn', 'male', 'sportsrecreation') Predicted ('16', 'capricorn', 'male', 'sportsrecreation')
Actual: ('27', 'female', 'indunk', 'taurus') Predicted ('female', 'indunk')
Actual: ('36', 'aries', 'fashion', 'male') Predicted ('aries', 'male')